body {
    background-color: pink;
    background-image: url('fundo-teste-site.png');
  }
  
  h1 {
    text-align: center;
    font-size: 200%;
  }
  
  header {
    margin-bottom: 50px;
  }
  
  footer {
    text-align: center;
    padding: 1px;
  }
  
  img {
    max-width: 100%;
  }
  
  div {
    margin-bottom: 25px;
  }
  
  #texto {
    text-align: center;
  }
  
  .textoImportante {
    color: midnightblue;
    font-family: 'Press Start 2P', cursive;
  }
  
  .textoTitulo {
    text-align: center;
  }